<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <script src="{{ url_for('static', filename='dark-mode.js') }}" defer></script>
</head>
<body>
    <button onclick="returnHomepage()">return to homepage</button>
    <button id="theme-switch" onclick="toggleDarkMode()" class="top-right-button"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z"/></svg></button>
    <h1>Spotify Wrapped</h1>
    <br>
    <label for="chart-type"><b>Choose the plot that you want: </b></label>
    <select name="chart-type" id="chart-type">
        <option value="songs">Top 10 Listened Songs</option>
        <option value="genres">Top 10 Genres</option>
        <option value="artists">Top 10 Listened Artists</option>
     </select>

     <div id="plot-container"></div>

     <script>
        $(document).ready(function(){
            fetchAndPlot('songs');

        let selectElement = document.getElementById("chart-type");
        selectElement.addEventListener("change",function(){
            let selectedValue = this.value; 
            fetchAndPlot(selectedValue)
        })
        })
            function fetchAndPlot(plotType){
            $.ajax({
                url: '/get-plot',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ 'chart-type': plotType, 'theme':localStorage.getItem("theme") }),
                success: function(response) {
                    let plotType = JSON.parse(response.graph);
                    Plotly.newPlot('plot-container',plotType);
                },
                error: function(error) {
                    console.error('Hata:', error);
                }
            })}
  
     </script>
     <script>
        function returnHomepage(){
            window.location.href = "{{ url_for('index') }}";
        }
     </script>

    
</body>
</html>